.container{
	border:1px solid black;
}

div.inline { float:left; }

svg{
	border:1px solid blue;
}

.grid{
	stroke: lightgrey;
}

.line{
	stroke: steelblue;
	fill:none;
}

.bar{
	stroke: steelblue;
	fill:steelblue;
}

h1 {
    text-align: center;
}