.scale {
    fill: none;
    stroke-width: 2;
    stroke: steelblue;
}

.circles {
    fill: white;
}

.LineScale {
    stroke: brown;
}

.SineScale {
    stroke: darkblue;
}

.charts {
    display: inline-block;
    border: 1px solid black;
    padding-bottom: 20px;
    margin-right: 7px;
}

.RopeScale {
    stroke: steelblue;
}

.AreaScale {
    stroke: steelblue;
    fill: steelblue;
}