svg {
    stroke-width: 2;
}

.line {
    stroke: grey;
}

.rectangle {
    stroke: steelblue;
    fill: none;
}

.circle {
    fill: none;
    stroke: red;
}

.triangle {
    fill: none;
    stroke: green;
}